<div
  class="modal fade text-light"
  [id]="modalId"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      class="modal-content"
      style="
        background-image: url(../../assets/form_background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    >
      <div class="modal-header">
        <h1
          class="modal-title fs-4 fw-bold text-primary"
          id="exampleModalLabel"
        >
          {{ titleModal }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
